body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header__container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

.header__container--logo {
    background-image: url('https://img.icons8.com/doodle/96/000000/popcorn.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50px;
    padding-left: 45px;
    margin-left: 20px;
}

.header__container--search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__container--search input {
    width: 450px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
    padding-left: 10px;
    outline: none;
}

.header__container--user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container--user .nombre {
    margin-right: 10px;
    font-weight: bold;
}

.header__container--user .foto img{
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
}

.nav__container {
    display: grid;
    grid-template: 80px 80px 70px 396px/ 90px;
    width: 90px;
    background-color: #fddb3a;
}

.nav__container .home {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.nav__container .home img {
    height: 30px;
}

.nav__container .home p {
    margin: 0;
}

.nav__container .trending {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.nav__container .trending img {
    height: 30px;
}

.nav__container .trending p {
    margin: 0;
}

.nav__container .likes {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.nav__container .likes img {
    height: 30px;
}

.nav__container .likes p {
    margin: 0;
}

.nav__container .tools {
    text-align: center;
    padding: 290px 10px 10px 10px;
    font-weight: bold;
}

.nav__container .tools img {
    height: 30px;
    cursor: pointer;
}

.nav__container .tools p {
    margin: 0;
    cursor: pointer;
}

.section__container {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 400px);
}

nav {
    display: flex;
}

.section__container .actualidad-1 {
    position: relative;
}

.actualidad-1 .overlay {
    position: absolute;
    background-color: rgba(236, 240, 12, 0.4);
    left: 10px;
    right: 134px;
    top: 130px;
    bottom: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    cursor: pointer;
}

.actualidad-1:hover .overlay {
    display: flex;
}

.section__container .actualidad-1 img{
    height: 160px;
    padding-left: 10px;
    cursor: pointer;
}

.section__container .actualidad-1 p {
    margin: 0 0 10px 0;
    font-weight: bold;
    padding-left: 10px;
}

.section__container .actualidad-2 {
    text-align: center;
}

.section__container .actualidad-2 img {
    padding: 28px 0 0 0;
    height: 160px;
    cursor: pointer;
}

.section__container .actualidad-3 {
    text-align: center;
}

.section__container .actualidad-3 img {
    padding: 28px 0 0 0;
    height: 160px;
}
